.searchbar{
    margin-bottom: auto;
    margin-top: 2%;
    height: 60px;
    background-color:#4b9efd;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
        color: white;
        border: 0;
        outline: 0;
        background: none;
        width: 0;
        caret-color:transparent;
        line-height: 40px;
        transition: width 0.4s linear;
        }

        .searchbar:hover > .search_input{
            padding: 0 10px;
            width: 450px;
            /* caret-color:red; */
            transition: width 0.4s linear;
            }
.btn{
    border-radius: 50%;
}        